glob2
random2
argparse
matplotlib
pandas[all]
numpy
scikit-learn
nibabel
SimpleITK
monai[all]
torch
torch-lr-finder
torchvision 
torchaudio
wandb
ipykernel
ipywidgets
plotly
pingouin
seg_metrics==1.2.7
